.mm-preview {
  max-width: 100%;
  height: auto;
}

.dropzone {
  display: flex;
  flex-direction: row;
}

.dropzone > div {
  text-align: center;
  margin-right: 1rem;
}

.dropzone > aside {
  width: 200px;
  height: auto;
}

.mm-devices {
  display: flex;
}

.mm-devices .form-type-select {
  margin-right: 0.5rem;
}
